* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: 'Google Sans', sans-serif;
    background-color: #ffffff;
    line-height: 1.6;
    max-width: 80%;
    margin: auto;
    color: #004746;
}

#logo {
    width: 60px;
    height: auto;
    position: relative;
    margin-top: 0.5%;
    z-index: -1;
}



#nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

#nav li {
    margin: 0 30px;

}

#nav a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

#nav a:hover {
    transition: 200ms ease-in-out;
    color: #059669;

}

#nav {
    font-family: "Google Sans", sans-serif;
    height: 11vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    border-bottom: 1px solid #33333326;
}

#hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

#hamburger span {
    width: 25px;
    height: 3px;
    background: #000;
    margin: 4px 0;
}


.marquee {
    overflow: hidden;
    width: 100%;
}

.marquee-content {
    display: inline-block;
    white-space: nowrap;
    animation: marquee 30s linear infinite;
}

@keyframes marquee {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

#main-page {

    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: auto;
    padding: 50px;
}

#strip-1 {
    background-color: #ffffff;
    width: fit-content;
    padding: 4px 20px;
    border-radius: 50px;
    border: 1px solid #4d4d4d14;
    text-align: center;
    font-weight: 500;
    margin: 0px auto;
    font-size: 14px;

}


h1 {
    color: #333;
    font-size: 80px;
}

p {
    color: #555;
    font-size: 20px;
    margin-top: 10px;
}


/* From Uiverse.io by adamgiebl */
a {
    text-decoration: none;
}

button {

    font-size: 16px;
    background: #059669;
    color: white;
    padding: 0.7em 1em;
    padding-left: 0.9em;
    display: flex;
    align-items: center;
    border: 2px solid #059669;
    border-radius: 16px;
    overflow: hidden;
    transition: all 0.2s;
    cursor: pointer;
    margin: 40px auto;
}

button :hover {
    background-color: #ffffff;
}

button span {
    display: block;
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;
}

button svg {
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
}

button:hover .svg-wrapper {
    animation: fly-1 0.6s ease-in-out infinite alternate;
}

button:hover svg {
    transform: translateX(3.5em) rotate(45deg) scale(1.1);
}

button:hover span {
    transform: translateX(10em);
}

button:active {
    transform: scale(0.95);
}

@keyframes fly-1 {
    from {
        transform: translateY(0.1em);
    }

    to {
        transform: translateY(-0.1em);
    }
}

#main-image {
    position: absolute;
    max-width: 20%;
    height: auto;
    margin-top: 20px;
    z-index: 1;
    opacity: 0.50;
    top: 75%;
    left: 20%;
    transform: translate(-50%, -50%);
}

#second-page {

    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
}


#second-page img {
    border-radius: 50px;
    width: 100%;
    filter: blur(3px);
}

#strip-second {
    position: absolute;
    background-color: #059669;
    width: 80%;
    z-index: 2;
    font-size: 400%;
    font-weight: 900;
    padding: 10px;
    color: white;
    box-shadow: #00474686 0px 4px 8px;

}

footer {
    text-align: center;
    padding: 20px 0;
    color: #059669;
    margin-top: 40px;
}

footer p {
    font-size: 18px;
}   





















@media (max-width: 768px) {

    #hamburger {
        display: flex;

    }

    #nav ul {
        position: absolute;
        top: 11vh;
        right: 0;
        width: 100%;
        background: #004746;
        color: white;
        flex-direction: column;
        align-items: center;
        display: none;
        border-bottom: 1px solid #33333326;
        z-index: 10;
       
    }

    #nav ul li {
        margin: 20px 0;
        color: white;

    }

    #nav ul.active {
        display: flex;
        color: white;
    }

    #nav li a {
        color: white;
    }


    #main-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10% 0%;
  }

  #strip-1 {
    font-size: 14px;
    margin-bottom: 10%;

  }

  h1 {
    font-size: 48px;
    line-height: 1.2;
    margin-bottom: 10%;
  }

  p {
    font-size: 18px;
    max-width: 90%;
  }










    #strip-second {
        font-size: 200%;
    }

    
}